
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  background-color: #fff;
  padding: 2%;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */

}

/* Media query for screens up to 480px wide */
@media (max-width: 480px) {
  .content {
    width: 100%;
    padding: 3%;
    height: 100%;
  }

 
}

.textcolor{

  color: red;
} 
