
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  background-color: #fff;
  padding: 2%;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */

}

/* Media query for screens up to 480px wide */
@media (max-width: 639px) {
  .content {
    width: 100%;
    padding: 3%;
    height: 100%;
  }

  .kWxXQY{
/* display: block; */
    display: block !important;
    background-color: #fff !important;
    padding: 10px !important;


  }
  .fjKvll{
    display: block !important;
    background-color: #fff;
    padding: 10px !important;
    width: '100%';

  }
  .cfvlby{
    display: none !important;
  }

  .mobile-card{
    display: flex;
  }
  

  
.Hiden-label{
  display: block !important;
}
 
}

.textcolor{

  color: red;
} 



.Hiden-label{
  display: none;
}

